
<!--Recebe os Metodos do component.ts-->
<div class="container-fluid">
  <form>
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-4">
       
        <div class="text-center bg-primary img-rounded kz-pad-20">
          <div class="row">

            <div class="col-xs-3">
              <button 
                type="button" 
                (click)="limpar()"
                class="btn btn-danger kz-btn">C
              </button>
            </div>

            <!--Display da Calculadora-->
            <div class="col-xs-9">
              <input 
                type="text" 
                class="form-control text-right kz-input-text"
                id="display" 
                name="display" 

                [value]="display" 

                readonly>
            </div>
          </div>

          <!--Numero 7 (click)="adicionarNumero('7')"-->
          <div class="row">
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-default kz-btn" 

                (click)="adicionarNumero('7')"

                id="btn7">7
              </button>
            </div>

             <!--Numero 8 (click)="adicionarNumero('8')"-->
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-default kz-btn" 

                (click)="adicionarNumero('8')"

                id="btn8">8
              </button>
            </div>

        <!--Numero 9 (click)="adicionarNumero('9')"-->
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-default kz-btn" 
                (click)="adicionarNumero('9')"
                id="btn9">9
              </button>
            </div>

             <!--Operação Dividir (click)="definirOperacao('/')"-->
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-warning kz-btn" 
                (click)="definirOperacao('/')"
                id="btnDivisao">/
              </button>
            </div>
          </div>

          <!--Numero 4 (click)="adicionarNumero('4')"-->
          <div class="row">
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-default kz-btn" 
                (click)="adicionarNumero('4')"
                id="btn4">4
              </button>
            </div>

            <!--Numero 5 (click)="adicionarNumero('5')"-->
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-default kz-btn" 
                (click)="adicionarNumero('5')"
                id="btn5">5
              </button>
            </div>

            <!--Numero 6 (click)="adicionarNumero('6')"-->
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-default kz-btn" 
                (click)="adicionarNumero('6')"
                id="btn6">6
              </button>
            </div>

            <!--Operação de Multiplicar (click)="definirOperacao('*')"-->
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-warning kz-btn"  
                (click)="definirOperacao('*')"
                id="btnMIltiplicacao">*
              </button>
            </div>
          </div>

          <!--Numero 1 (click)="adicionarNumero('1')"-->
          <div class="row">
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-default kz-btn" 
                (click)="adicionarNumero('1')"
                id="btn1">1
              </button>
            </div>

            <!--Numero 2 (click)="adicionarNumero('2')"-->
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-default kz-btn" 
                (click)="adicionarNumero('2')"
                id="btn2">2
              </button>
            </div>

            <!--Numero 3 (click)="adicionarNumero('3')"-->
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-default kz-btn" 
                (click)="adicionarNumero('3')"
                id="btn3">3
              </button>
            </div>

            <!--Numero 7 (click)="adicionarNumero('7')"-->
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-warning kz-btn" 
                (click)="definirOperacao('-')"
                id="btnSubtracao">-
              </button>
            </div>            
          </div>

          <!--Numero 0 (click)="adicionarNumero('0')"-->
          <div class="row">
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-default kz-btn" 
                (click)="adicionarNumero('0')"
                id="btn0">0
              </button>
            </div>

            <!--(click)="adicionarNumero('.')"-->
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-default kz-btn" 
                (click)="adicionarNumero('.')"
                id="btnDecimal">.
              </button>
            </div>

            <!--Operação de Somar -  Metodo calcular -->
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-success kz-btn" 
                (click)="calcular()"
                id="btnCalcular">=
              </button>
            </div>

            <!--Operação de Somar (click)="definirOperacao('+')"-->
            <div class="col-xs-3">
              <button 
                type="button" 
                class="btn btn-warning kz-btn" 
                (click)="definirOperacao('+')"
                id="btnSoma">+
              </button>
            </div>
          </div>

        </div> <!--/text-center-->
      </div> <!--/col-xs-8-->
    </div> <!--/row-->
  </form>
</div>
